html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
  }
  
body{
    background-color:#090909;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

p{
    margin: 0;
    color: white;
}
i{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: blueviolet;
}

h1{
    color: white;
    font-size: 7rem;
    margin-bottom: 0;
}
h2{
    margin: 0;
    color: white;
}
header{
    position: sticky;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header-img-container{
    justify-self: start;
    width: 5rem;
    padding: 1rem;
}

.headerLinks {
    justify-self: center;
    font-size: 1.5rem;
    display: flex;
    gap: 2rem;
}

.btn-container{
    justify-self: end;
    display: flex;
    padding: 1rem;
    width: 10rem;
}

.arrows{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.headerContent{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 5rem 0 5rem;
}

.content{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #090909;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-color:#090909;
}
.title{
    padding-top: 5rem;
    text-align: center;
}
.title h1{
    font-size: 5rem;
}
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    padding: 0 3rem 0 3rem;
}
.card{
    background-color: #151515;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}
.cardContent{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.project-img-container{
    width: 100%;
}
.projectImage{
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 100%;
}

.about-title{
    display: flex;
    align-items: center;
}

.about-title p{
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
}

.about-container{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
}

.about-desc-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

}
.desc-text, .contact-text{
    color: white;
    padding-top: 2rem;
}

.skill-text{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    color: white;
}
.square{
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 2rem;
    background-color: white;
}
#logo{
    width: 100%;
}
#arrow1, #arrow2{
    height: 5rem;
    width: 7rem;   
}

#contactButton{
    padding: 1rem;
    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid blueviolet;
}
#contactButton:hover{
    background-color: blueviolet;
    color: white;
}

#desc{
    color: darkgrey;
    font-size: 20px;
}
#aboutMe{
    color:white;
}
#about-img{
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
}