*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
  }
  
body{
    background-color:white;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;

}

p{
    margin: 0;
    color: black;
}
i{
    color: black;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
a:hover{
    color: blueviolet;
}

h1{
    margin: 0;
    color: black;
    font-size: 7rem;
}
h2{
    margin: 0;
    color: black;
}

header{
    position: absolute;
    width: 100%;
    top: 0;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}


.header-title{
    font-size: 1.5rem;
    color: black;
}
.header-links {
    font-size: 1.5rem;
    display: flex;
    gap: 2rem;
}

.hamburguer-menu{
    display: none;
    flex-direction: column;
    gap: 0.4rem;
    width: max-content;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 2;
    cursor: pointer;
}

.hamburguer-menu::before,
.hamburguer-menu::after,
.hamburguer-menu input{
    content: '';
    width: 2.5rem;
    height: 0.2rem;
    border-radius: 1rem;
    transform-origin: left center;
    background-color: black;
    transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out, rotate 0.3s ease-in-out, translate 0.3s ease-in-out;
}


.hamburguer-menu input{
    appearance: none;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburguer-menu:has(input:checked)::before{
    rotate: 45deg;
    width: calc((0.2rem * 3 + 0.4rem * 2) * 1.41421356237);
    translate: 0 calc(0.2rem / -2);
}
.hamburguer-menu:has(input:checked)::after{
    rotate: -45deg;
    width: calc((0.2rem * 3 + 0.4rem * 2) * 1.41421356237);
    translate: 0 calc(0.2rem / 2);
}

.hamburguer-menu input:checked{
    opacity: 0;
    width: 0;
}

.sidebar{
    display: none;
    position: absolute;
    top: 4.2rem;
    right: 2rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hamburguer-menu:has(input:checked) + .sidebar{
    display: block;
}

section{
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:white;
}
.home-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.home-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-about h1{
    font-size: 2.5rem;
    color: blueviolet;
}

.contact-link{
    width: 2rem;
    height: 2rem;
}

.title{
    text-align: center;
    font-size: 5rem;
}
.card-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    padding: 1rem;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid blueviolet;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1.1);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-content{
    display: flex;
    flex-direction: column;
    color: black;
}

.project-img-container{
    width: 100%;
}
.project-img{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    object-fit:scale-down;
    width: 100%;
    height: 12rem;
}


.about-title{
    display: flex;
    align-items: center;
}

.about-title p{
    font-size: 1.5rem;
    padding: 1rem;
    color: blueviolet;
}

.about-content-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem;
}

#about-img{
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
}

.about-desc-container{
    display: flex;
    width: 50%;
    justify-self: center;
    align-self: center;
}
.desc-text{
    color: black;
    padding-top: 2rem;
}


.skill-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    column-gap: 5rem;
    row-gap: 3rem;
    padding: 2rem;
    border: 2px solid blueviolet;
    border-radius: 1rem;
}

.skill-content{
    display: flex;
    align-items: center;
}

.skill-img{
    width: 2rem;
    height: 2rem;
}

.arrow-container{
    width: 100%;
    margin-right: 3rem;
    display: flex;
    justify-content: end;
}

#contact{
    min-height:90vh;
}

.contact-container{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    padding: 2rem;
    border: 2px solid blueviolet;
    border-radius: 1rem;    
}

.contact-item{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.contact-img{
    width: 3rem;
    height: 3rem;
}

.contact-txt{
    color: #666666;
}

.contact-txt:hover{
    color: blueviolet;
}

.arrow{
    width: 2rem;
    height: 2rem;
}

footer{
    min-height: 10vh;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 976px) {
    header{
        justify-content: left;
    }
    header .header-links{
        display: none;
    }

    .hamburguer-menu{
        display: flex;
    }

    .card-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 576px){

    .title{
        font-size: 3rem;
    }

    .home-content{
        flex-direction: column;
        align-items: center;

    }
    .card-container{
        grid-template-columns: 1fr;
    }

    .skill-container{
        grid-template-columns: 1fr 1fr; 
    }
    .about-content-container{
        flex-direction: column;
        gap: 1rem;
        padding: 0;
    }

    .about-desc-container{
        width: 100%;
    }

    #contact{
        padding: 1rem;
    }

    .contact-container{ 
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
    }
}